
.bg-ratos {
  background-color: lightyellow;
}

.border-regular {
  border-color: lightgray;
}

.text-small {
  font-size: 13px;
}

.custom-control-label:before{
  background-color:white;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  border-color: #17a2b8;
  background-color:#17a2b8;
}

.icon-hover:hover {
  border-color: white;
  opacity: 0.5;
}

#bModal > div {
  background-color: transparent !important;
  border-color: transparent !important;
}

.tooltip-inner {
  background-color: #6c757d !important;
}
.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #6c757d !important;
}
.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: #6c757d !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #6c757d !important;
}
.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #6c757d !important;
}

/******************************************************************************************/
.nav-link {
  color: rgba(255, 255, 255, 0.5) !important;
}






