
.bg-ratos {
  background-color: lightyellow;
}

.border-regular {
  border-color: lightgray;
}

.text-small {
  font-size: 13px;
}

.custom-control-label:before{
  background-color:white;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  border-color: #17a2b8;
  background-color:#17a2b8;
}

.icon-hover:hover {
  border-color: white;
  opacity: 0.5;
}


